@charset "utf-8";

@media screen and (max-width: 320px) {
  .title {
    font-size: 20px;
    margin: 25px auto auto 5px;
  }
  .sign-out-button {
    font-size: 15px;
  }
}

@media screen and (min-width: 321px) and (max-width: 2560px) {
  .title {
    font-size: 30px;
    margin: 20px auto auto 10px;
  }
}
.header {
  width: 100%;
  height: 80px;
  color: #ffffff;
  background-color: #242f9b;
  display: flex;
  justify-content: space-between;
}

.sign-out-button {
  color: #ffffff;
  margin: auto 25px auto auto;
}
